<div class="row" >
  <div class="container col s6" >
    <div class="row">
      <div class="col s6" *ngFor="let request of requests">
        <app-request  [request]="request"></app-request>
      </div>
    </div>
  </div>
  <div class="container col s6">
    <div class="row">
      <div class="filter">
        <strong>Filtriraj po</strong>
        <ul class="collapsible" data-collapsible="accordation">
          <li>
            <div class="collapsible-header">
              Datumu
            </div>
            <div class="collapsible-body">
              <ul>
                <li>
                  <input name="group1" type="radio" id="eldest-first"  (change)="filterByDate('eldest')" />
                  <label for="eldest-first">Stariji prvo</label>
                </li>
                <li>
                  <input name="group1" type="radio" id="youngest-first" (change)="filterByDate('youngest')" />
                  <label for="youngest-first">Mladji prvo</label>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              Projektu
            </div>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let project of projects" >
                  <input name="group2" type="radio" id="label-{{project}}" (change)="setProjectFilter(project)" >
                  <label for="label-{{project}}">{{project}}</label>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              Zaposlenom
            </div>
            <div class="collapsible-body">
              <ul>
                <li *ngFor="let employee of employeeNames" >
                  <input name="group3" type="radio" id="label-{{employee}}" (change)="setEmployeeFilter(employee)">
                  <label for="label-{{employee}}">{{employee}}</label>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              Prikazi sve izvestaje
            </div>
            <div class="collapsible-body">
              <ul>
                <li>
                  <input name="group4" type="radio" id="label-all" (click)="showAllReports()">
                  <label for="label-all">Prikazi sve</label>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s6" *ngFor="let report of reportsForDisplay">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Izveštaj</span>
            <p>Datum <span>{{report.date}}</span></p>
            <p>Napisan od {{report.name}} </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn btn-small" routerLink="/vidi-izvestaj" (click)="openReport(report)" >Pogledaj izvestaj</a>
          </div>
        </div>
    </div>
  </div>
</div>
