.report {
    padding: 5vh;
    border: 5px black;
    border-style: outset;
    border-radius: 15px;
}

.company-image {
    height: 80vh;
    background-image: url('../../../assets/img/2-min.jpg'); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.image-wrapper {
    opacity: 0.3;
}
