<div class="container welcome-screen">
  <h2>Dobrodosli na sajt</h2>
  <p>Employee-log je sajt na kome zaposleni u firmi SmartCatSolutions mogu da pisu izvestaje,
    zahtevaju odmore, bolovanje...
  </p>
  U navigaciji mozete da pristuite sledecim stranicama
    <ul >
      <li >
        <h5>Pocetna</h5>
        <p>
          To je stranica na kojoj se trenutno nalazite 
        </p>
      </li>
      <li >
        <h5>Slobodni dani</h5>
        <p>
          Na toj stranici mozete da uzmete slobodne dane ili bolovanje. Prvo treba da izaberete 
          pocetak odmora, a zatim kraj. To radite tako sto iz odgovarajucih polja izaberete odgovarajuce
          vrednosti. Nakon sto izaberete mozete da posaljete zahtev za odmor ili bolovanje. Nakon sto admin
          odluci o vase zahtevu dobicete notifikaciju o (ne)odobrenju zahteva.
        </p>
      </li>
      <li >
        <h5>Pisanje izvestaja</h5>
        <p>
          Na ovoj stranici mozete da napisete i posaljete izvestaj. Izvestaj se popunjava u razlicitim
          poljima, odgovorima na pitanja iznad tih polja. Da bi se izvestaj poslao morate
          da popunite sva polja u izvestaju. Nakon toga izvestaj bi trebao da se pojavi u 
          <a href="#izvestaji">stranici sa izvestajima</a>
        </p>
      </li>
      <li >
        <h5>Izmeni profil</h5>
        <p>
          Na ovoj stranici mozete izmeniti odredjene delove profila kojeg ste napravili prilikom 
          registracije. Mozete promeniti: adresu, email, broj telefona, profilnu sliku, kao i  poziciju 
          koju zauzimate u firmi i sifru. Ostale delove profila ne mozete promeniti ovde.
        </p>
      </li>
      <li  id="izvestaji">
        <h5>Izvestaji</h5>
        <p>
          Na ovoj strnici mozete pogledati sve izvestaje koje ste napisali.
        </p>
      </li>
      <li >
        <h5>Admin</h5>
        <p>
          Ovoj stranici mozete da pristupite samo ako imate admin privilegije. Admin moze da vidi
          izvestaje svih zaposlenih, i on takodje dobija zahteve koje salju zaposleni (kao sto su 
          zahtevi za odmor i bolovanje, registraciju). Na osnovu odluka koje admin donese zaposleni 
          dobijaju notifikaciju o svojim zahtevima.
        </p>
      </li>
      <li>
        <h5>Notifikacije</h5>
        <p>
          U gornjem desnom uglu pre opcije "Odjavi se" nalazi se ikonica sa satom. Tu mozete da pogledate
          odgovore na vase zahteve za odmor, bolovanje... Ako imate neku notifikaciju ikonica sa satom 
          pocrveni i pulsira. To je znak da imate obavestenja. Klikom na ikonicu otvara se padajuci meni
          sa notifikacijama. Kada procitate notifikaciju imate mogucnost da je obrisete. Kada obrisete
          notifikaciju vise je necete dobijati.
        </p>
      </li>
    </ul>
</div>
