<div class="container login">
  <form #loginForm="ngForm">
    <div class="row">
      <div class="input-field col s4">
        <label for="emaile">Email</label>
        <input type="email" name="email" [(ngModel)]="email" placeholder="" requred>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <label for="password">Šifra</label>
        <input type="password" name="password" [(ngModel)]="password" placeholder="" required>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn" [disabled]="!loginForm.form.valid" (click)="login()" >Prijavi se</button>
    <button type="submit" class="waves-effect waves-light btn" routerLink="/kreiranje-profila" >Napravi profil</button>

  </form>
</div>
