<div class="container">
  <div>
    <div class="row">
      <blockquote class="col s4 offset-s4" >Pocetak</blockquote>
    </div>
    <div class="row">
      <div class="col s3">
        <label>Izaberite dan</label>
        <select class="browser-default" [(ngModel)]="startDate.day" >
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let day of startDays" [value]="day"> {{day}} </option>
        </select>
      </div>
      <p class="col s1"></p>
      <div class="col s3">
        <label >Mesec</label>
        <select class="browser-default" [(ngModel)]="startDate.month"  (change)="updatePossibleDays('start')" >
          <option value="" selected disabled>Choose your option</option>
          <option *ngFor="let month of startMonths" [value]="month"> {{month}} </option>
        </select>
      </div>
      <p class="col s1"></p>
      <div class="col s3">
        <label>Godina</label>
        <select class="browser-default" [(ngModel)]="startDate.year" >
          <option value="" disabled selected>Choose your option</option>
          <option [value]="startYear"> {{startYear}} </option>
        </select>    
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <blockquote class="col s4 offset-s4">Kraj</blockquote>
    </div>
    <div class="row">
      <div class="col s3">
        <label >Dan</label>
        <select class="browser-default" [(ngModel)]="endDate.day" >
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let day of endDays" [value]="day"> {{day}} </option>
        </select>    </div>
      <p class="col s1"></p>
      <div class="col s3">
        <label >Mesec</label>
        <select class="browser-default" [(ngModel)]="endDate.month"  (change)="updatePossibleDays('end')" >
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let month of endMonths" [value]="month"> {{month}} </option>
        </select>    
      </div>
      <p class="col s1"></p>
      <div class="col s3">
        <label>Godina</label>
        <select class="browser-default" [(ngModel)]="endDate.year"  (change)="updatePossibleMonths('end')" >
          <option value="" disabled selected>Choose your option</option>
          <option *ngFor="let year of endYear" [value]="year"> {{year}} </option>
        </select> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s9 offset-s3">
      <button type="submit" class=" waves-effect waves-light btn" (click)="sendRequest('vacation')">Posalji odmor </button>
      <button type="submit" class=" waves-effect waves-light btn" (click)="sendRequest('sickDays')" >Posalji bolovanje </button>
    </div>
  </div>
</div>
